.flag {
    width: 80vmin;
    aspect-ratio: 70 / 45;
}

.gilbert-baker {
    background:
        linear-gradient(hotpink 12.5%, red 0 25%, orange 0 37.5%, yellow 0 50%, green 0 62.5%, darkturquoise 0 75%, blue 0 87.5%, indigo 0);
}